version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: BusinessReportsManager.Api/Dockerfile
    container_name: businessreportsmanager_api
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: "Host=postgres_db;Port=5432;Database=BusinessReportsManagerDb;Username=postgres;Password=123"
    depends_on:
      - postgres

  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: BusinessReportsManagerDb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
